html {
    background-color: black;
}


div {
    height: 600px;
    width: 600px;
}

.motivational-img {
    height: 600px;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  text-align: center;
  border: 5px solid white;
  margin-bottom: 200px;
  font-family: 'Times New Roman', Times, serif;
}